In [2]:
from datascience import *
import pymysql
conn=pymysql.connect(host='localhost',user='root',passwd='fuyilei@96',db='Refugee',port=3306)

In [3]:
asylum_statistics = Table().read_table("asylum_statistics.csv")
affirmative_asylum = Table.read_table("affirmative_asylum.csv")
defensive_asylum = Table.read_table("defensive_asylum.csv")
refugee_statistics = Table.read_table("refugee_statistics.csv")
refugee_status = Table.read_table("refugee_status.csv")

In [4]:
cur = conn.cursor()

In [5]:
asylum_statistics.show()

In [6]:
affirmative_asylum.column(0)

array(['Africa', 'Asia', 'Europe', 'North America', 'Oceania',
       'South America', 'Unknown', 'Afghanistan', 'Albania', 'Algeria',
       'Angola', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh',
       'Belarus', 'Bhutan', 'Bolivia', 'Bosnia-Herzegovina', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi', 'Cambodia',
       'Cameroon', 'Central African Republic', 'Chad',
       "China, People's Republic", 'Colombia',
       'Congo, Democratic Republic', 'Congo, Republic', "Cote d'Ivoire",
       'Cuba', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Eritrea', 'Ethiopia', 'Fiji', 'Gambia', 'Georgia',
       'Ghana', 'Guatemala', 'Guinea', 'Guyana', 'Haiti', 'Honduras',
       'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Jamaica', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Lebanon', 'Liberia', 'Libya', 'Macedonia', 'Madagascar',
       'Malaysia', 'Mali', 'Mauritania', 'Mexico', 'Moldova', 'Mongolia',
       'Morocco', 'Nepal', 'Nicaragua', 'Niger', 'Nigeria', 'Pakistan',
       'Peru', 'Philippines', 'Romania', 'Russia', 'Rwanda',
       'Saudi Arabia', 'Senegal', 'Serbia and Montenegro (former)',
       'Sierra Leone', 'Somalia', 'Sri Lanka', 'Sudan', 'Syria',
       'Tajikistan', 'Tanzania', 'Togo', 'Turkey', 'Turkmenistan',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'Uzbekistan',
       'Venezuela', 'Vietnam', 'Yemen', 'Zimbabwe', 'Other', 'Unknown',
       'Total'],
      dtype='<U30')

In [7]:
defensive_asylum

Continent/Country of Nationality | 2006  | 2007  | 2008  | 2009  | 2010  | 2011  | 2012  | 2013  | 2014  | 2015
Africa                           | 2,830 | 2,522 | 2,046 | 2,326 | 1,912 | 2,340 | 2,118 | 1,976 | 1,697 | 1,380
Asia                             | 6,668 | 6,707 | 5,509 | 5,423 | 4,872 | 5,855 | 6,745 | 6,137 | 5,445 | 4,803
Europe                           | 1,441 | 1,318 | 1,177 | 928   | 746   | 864   | 823   | 872   | 654   | 538
North America                    | 1,007 | 1,071 | 1,083 | 855   | 489   | 535   | 632   | 681   | 745   | 1,299
Oceania                          | 45    | 25    | 36    | 32    | 16    | 23    | 20    | 9     | 7     | 8
South America                    | 1,226 | 1,132 | 975   | 646   | 392   | 406   | 269   | 216   | 203   | 170
Unknown                          | 87    | 84    | 66    | 90    | 92    | 115   | 111   | 55    | 40    | 48
Afghanistan                      | 25    | 22    | 28    | 7     | 5     | 18    | 34    | 16    | 18    | 13
Albania                          | 497   | 421   | 324   | 213   | 103   | 101   | 72    | 71    | 66    | 75
Algeria                          | 13    | 6     | 5     | 6     | -     | 4     | 6     | D     | D     | D
... (101 rows omitted)

In [8]:
refugee_statistics

Sex/Age/Marital Status | Applicants | Spouses | Children | All Refugees
Female                 | 10,082     | 8,688   | 14,565   | 33,335
Male                   | 18,317     | 2,104   | 16,163   | 36,584
Sex Unknown            | 1          | -       | -        | 1
Under 16 Years         | 679        | -       | 24,309   | 24,988
16 to 20 Years         | 1,354      | 176     | 5,376    | 6,906
21 Years and Over      | 26,367     | 10,616  | 1,043    | 38,026
Under 1 Year           | 4          | -       | 235      | 239
1 to 4 Years           | 118        | -       | 7,571    | 7,689
5 to 9 Years           | 132        | -       | 8,138    | 8,270
10 to 14 Years         | 316        | -       | 7,060    | 7,376
... (18 rows omitted)